<h3 class="mt-5 p-5 font-weight-bold">Met à jour ton potin, on veux des news fraiches !!</h3>
<div class ="my-5 container">
<%= render partial: "gossips/form", locals: {gossip: @gossip, form_value: { title: @gossip.title, content:  @gossip.content }} %>