<h3 class="mt-5 p-5 font-weight-bold">Balance nous du croustillant !!</h3>
<div class ="my-5 container">
<%= render partial: "gossips/form", locals: {gossip: @gossip, form_value: { title: '', content: '' }} %>
